[credential]
	helper = cache

[core]
    editor = nvim

[push]
	autoSetupRemote = true   # Automatically set upstream branch on push

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[merge]
	tool = codediff

[mergetool "codediff"]
	cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"

[diff]
	tool = codediff

[difftool "codediff"]
	cmd = nvim \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\"

[include]
	path = ~/.gitconfig-local
# add the following info in this file
; [user]
;     name = Your Real Name
;     email = your.email@example.com
;     signingkey = ABC123XYZ

[includeIf "gitdir:~/ce/Projects/fz/"]
    path = ~/.gitconfig-work

