window {
margin: 0px;
border: 2px solid #64727d;
border-radius: 5px;
background-color: #2e3440;
font-family: RobotoMono Nerd Font;
font-size: 18px;
}

#input {
margin: 5px;
border: 1px solid #64727d;
color: #cacaca;
background-color: #2e3440;
}

#input image {
	color: #cacaca;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cacaca;
} 

#entry:selected {
	background-color: rgba(59, 66, 82, 0.5);
	font-weight: normal;
}

#text:selected {
	background-color: rgba(59, 66, 82, 0.5);
	font-weight: normal;
}

