# yazi.toml
[mgr]
show_hidden = true

[opener]
# edit = [
# 	{ run = 'nvim "$@"', block = true },
# ]
image = [
	{ run = 'imv "$@"', orphan = true, for = "unix" },
]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
	# { run = "xdg-open %s1",                desc = "Play", for = "linux" },
]
open = [
	{ run = 'nohup xdg-open "$@"', desc = "Open" },
]

[open]
prepend_rules = [
  { mime = "application/pdf", use = ["open"]},
  { mime = "application/vnd.amazon.ebook", use = ["open"]},
  { mime = "application/x-mobipocket-ebook", use = ["open"]},
  { mime = "application/epub+zip", use = ["open"]},
  { name = "*.djvu", use = "open"},

	{ mime = "text/*", use = "edit" },
	{ mime = "image/*", use = "image" },
	{ mime = "video/*", use = "play" },
	{ mime = "audio/*", use = "play" },
	{ mime = "inode/x-empty", use = "edit" },
	{ mime = "vfs/{absent,stale}", use = "download" },

	{ name = "*.json", use = "edit" },
	{ mime = "application/json", use = "edit" },
  	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = "edit" },
	{ name = "*.html", use = [ "edit" ] },

	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },

	# Multiple openers for a single rule
	# { name = "*.html", use = [ "open", "edit" ] },
]

rules = [
	{ mime = "text/*", use = "edit" },
	{ mime = "video/*", use = "play" },

	# Multiple openers for a single rule
	{ name = "*.html", use = [ "open", "edit" ] },
]
